<!DOCTYPE html>

<html>

<head>
	<title>About</title>
	<link rel="icon" href="/img/Sleepy.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<div class="main-content">
		{{>header}}
		<p>This site takes a city address, geocodes it, sends that info to weatherstack.com (which gets the weather for the geocode info), and presents the weather.</p>
		<img class="portrait" src="/img/ThomasJefferson.jpg"> <!-- img is an empty elt, so we don't need a closing tag -->
		<p>Thomas Sully's portrait of Thomas Jefferson</p>
	</div>
	
	{{>footer}}
</body>

</html>