<!DOCTYPE html>

<html>

<head>
	<title>About</title>
	<link rel="icon" href="/img/Sleepy.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<div class="main-content">
		{{>header}}
		<img class="portrait" src="/img/ThomasJefferson.jpg"> <!-- img is an empty elt, so we don't need a closing tag -->
		<p>The great Thomas Jefferson, President of the United States.</p>
	</div>
	
	{{>footer}}
</body>

</html>